/*
====================================================================================================
About Me
====================================================================================================
*/


/*
====================================================================================================
Project Item
====================================================================================================
*/
.projects_container 
{
	margin-top: 90px;
	display: flex;
	flex-wrap: wrap;
}
.projects_container h2 
{
	width: 100%;
}


.portfolio_item 
{
	min-width: 400px;
	margin: 10px 15px;
	flex: 1 1 40%;
	position: relative;

	border-width: thick;
	border-color: var(--Golden-Gate-Bridge-Orange);
	border-style: solid;
	border-radius: 25px;
}

.portfolio_item img
{
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.portfolio_overlay 
{
	/*Laying Text Over Parent Container*/
	position: absolute;
	bottom: 0;
	top: 0;

	/*See Through Black Background*/
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	color: white;
	text-align: center;
	border-radius: 20px;
	
	opacity: 0;
}

.portfolio_overlay h3
{
	margin: 0;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-size: 4vw;
}

.portfolio_overlay p 
{
	margin: 0;
	position: relative;
	display: inline-block;
	top: 60%;

	padding: 10px 15px;
	margin: 5px 5px;

	border-radius: 15px;
	border-width: medium;
	border-style: solid;
	border-color: var(--Gunmetal);
}


/*
====================================================================================================
Project Tags
====================================================================================================
*/
.engine_tag
{
	Background: var(--Dark-Spring-Green);
}

.language_tag
{
	Background: var(--Firebrick-Red);
}

.type_tag
{
	Background: var(--Space-Cadet-Blue);
}