
/*
====================================================================================================
Global
====================================================================================================
*/
:root
{
	/*Defining Color Palette*/
	/*Main Palette*/
	--Bone-White: #D9CFC1;
	--Golden-Gate-Bridge-Orange: #C44536;
	--Burnt-Umber-Red: #802C23;
	--Gunmetal: #242F40; 
	--Raisin-Black: #272635;

	/*Other Colors*/
	--Maximum-Yellow: #FFBA49;
	--Space-Cadet-Blue: #1D3461;
	--Firebrick-Red: #BB0A21;
	--Dark-Spring-Green: #157145;
}

body
{
	background: var(--Gunmetal);
	color: var(--Bone-White);
}


/*
====================================================================================================
Header
====================================================================================================
*/
header 
{
	background: #272635;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	width: 100%;

	z-index: 100;
}

.header_icon img
{
	width: 50px;
}

.header_title
{
	display: inline-block;

	width: 40%;

	padding: 0 5%;
}

.header_links
{
	display: inline-block;

	width: 40%;
	padding: 0 5%;

	direction: rtl;
}

.header_links p
{
	display: inline;
	padding: 0 5%;
}


/*
====================================================================================================
About Me
====================================================================================================
*/


/*
====================================================================================================
Project Item
====================================================================================================
*/
.projects_container 
{
	margin-top: 90px;
	display: flex;
	flex-wrap: wrap;
}
.projects_container h2 
{
	width: 100%;
}


.portfolio_item 
{
	min-width: 400px;
	margin: 10px;
	flex: 1 1 40%;
	position: relative;

	border-width: thick;
	border-color: var(--Golden-Gate-Bridge-Orange);
	border-style: solid;
	border-radius: 25px;
}

.portfolio_item img
{
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.portfolio_overlay 
{
	/*Laying Text Over Parent Container*/
	position: absolute;
	bottom: 0;
	top: 0;

	/*See Through Black Background*/
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	color: white;
	text-align: center;
	border-radius: 20px;
}

.portfolio_overlay h3
{
	margin: 0;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-size: 4vw;
}

.portfolio_overlay p 
{
	margin: 0;
	position: relative;
	display: inline-block;
	top: 60%;

	padding: 10px 15px;
	margin: 5px 5px;

	border-radius: 15px;
	border-width: medium;
	border-style: solid;
	border-color: var(--Gunmetal);
}


/*
====================================================================================================
Project Tags
====================================================================================================
*/
.engine_tag
{
	Background: var(--Dark-Spring-Green);
}

.language_tag
{
	Background: var(--Firebrick-Red);
}

.type_tag
{
	Background: var(--Space-Cadet-Blue);
}


/*
====================================================================================================
Contact Me
====================================================================================================
*/
footer
{
	background: var(--Raisin-Black);

	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;

	text-align: center;
}

footer h2
{
	color: var(--Bone-White);
}

.footer_link
{
	width: 100px;

	display: inline;
	padding: 0 15px;
}

.footer_link img
{
	display: inline-block;

	width: 100px;
	max-width: 15%;
}