/*
	COLOR PALETTE
	Bone White = #D9CFC1
	Golden Gate Bridge Orange - #C44536
	Burnt Umber Red - #802C23
	Gunmetal - #242F40
	Raisin Black - #272635
*/


/*
====================================================================================================
Global
====================================================================================================
*/
:root
{
	/*Defining Color Palette*/
	--Bone-White: #D9CFC1;
	--Golden-Gate-Bridge-Orange: #C44536;
	--Burnt-Umber-Red: #802C23;
	--Gunmetal: #242F40; 
	--Raisin-Black: #272635;
}

body
{
	background: var(--Gunmetal);
}

p
{
	color: var(--Bone-White);
}


/*
====================================================================================================
Header
====================================================================================================
*/
header 
{
	background: #272635;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;

	z-index: 100;
}

header div
{
	display: inline-block;
}

.header_icon img
{
	width: 100%;
	max-width: 200px;

	height: 100%;
}

.header_title
{
	position:absolute;

	border: 10px;

	width: 50%;

	left: auto;
	right: auto;
	top: 0;
}

.header_title h1
{
	color: var(--Bone-White);

	text-align: center;
}

.header_links
{
	position:absolute;

	width: 33%;

	right: 0;
}

/*
====================================================================================================
Project Item
====================================================================================================
*/
.projects_container 
{
	margin-top: 150px;
	display: flex;
	flex-wrap: wrap;
}
.projects_container h2 
{
	width: 100%;
}


.portfolio_item 
{
	min-width: 400px;
	margin: 10px;
	flex: 1 1 40%;
	position: relative;

	border-width: thick;
	border-color: var(--Golden-Gate-Bridge-Orange);
	border-style: solid;
	border-radius: 25px;
}

.portfolio_item img
{
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.portfolio_overlay {
	/*Laying Text Over Parent Container*/
	position: absolute;
	bottom: 0;
	top: 0;

	/*See Through Black Background*/
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	color: white;
	text-align: center;
	border-radius: 20px;
}

.portfolio_overlay h3
{
	margin: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-size: 4vw;
}

.portfolio_overlay p 
{
	margin: 0;
	position: relative;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*
====================================================================================================
Contact Me
====================================================================================================
*/
footer
{
	background: var(--Raisin-Black);

	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;

	margin: 0;

	text-align: center;
}

footer h2
{
	color: var(--Bone-White);
}

.footer_link
{
	width: 100px;

	display: inline-block;
	padding: 0 15px;
}

.footer_link img
{
	width: 100%;
	max-width: 150px;

	height: 100%;
}