
/*
====================================================================================================
Global
====================================================================================================
*/
*
{
	margin 0 0;
	padding: 0 0;

	font-family: 'fredoka_oneregular', Arial, sans-serif;
}

:root
{
	/*Defining Color Palette*/
	/*Main Palette*/
	--Bone-White: #D9CFC1;
	--Golden-Gate-Bridge-Orange: #C44536;
	--Burnt-Umber-Red: #802C23;
	--Gunmetal: #242F40; 
	--Raisin-Black: #272635;

	/*Other Colors*/
	--Maximum-Yellow: #FFBA49;
	--Space-Cadet-Blue: #1D3461;
	--Firebrick-Red: #BB0A21;
	--Dark-Spring-Green: #157145;
}

body
{
	background: var(--Gunmetal);
	color: var(--Bone-White);

	padding: 0 0;
	margin: 0 0;
}

@font-face 
{
    font-family: 'fredoka_oneregular';
    src: url('../fonts/Fredoka_One/fredokaone-regular-webfont.woff2') format('woff2'),
         url('../fonts/Fredoka_One/fredokaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*
====================================================================================================
Header
====================================================================================================
*/
header 
{
	background: #272635;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	width: 100%;

	z-index: 100;
}

.header_icon img
{
	width: 50px;
}

.header_title
{
	display: inline-block;

	width: 40%;

	padding: 0 5%;
}

.header_links
{
	display: inline-block;

	width: 40%;
	padding: 0 5%;

	direction: rtl;
}

.header_links p
{
	display: inline;
	padding: 0 5%;
}

.header_links a:link
{
	color: var(--Bone-White);
	text-decoration: none;
	font-weight: normal;
}

.header_links a:visited
{
	color: var(--Bone-White);
	text-decoration: none;
	font-weight: normal;
}

.header_links a:hover
{
	color: var(--Bone-White);
	text-decoration: none;
	font-weight: bold;
}

.header_links a:active
{
	color: var(--Bone-White);
	text-decoration: none;
	font-weight: normal;
}


/*
====================================================================================================
Contact Me
====================================================================================================
*/
footer
{
	background: var(--Raisin-Black);

	width: 100%;

	text-align: center;
}

footer h2
{
	color: var(--Bone-White);
}

.footer_link
{
	width: 100px;

	display: inline;
	padding: 0 15px;
}

.footer_link img
{
	display: inline-block;

	width: 100px;
	max-width: 15%;
}

.footer_link a:link
{
	color: var(--Bone-White);
	text-decoration: none;
}

.footer_link a:visited
{
	color: var(--Bone-White);
	text-decoration: none;
}

.footer_link a:hover
{
	color: var(--Bone-White);
	text-decoration: none;
}

.footer_link a:active
{
	color: var(--Bone-White);
	text-decoration: none;
}